@media  (min-width:768px) {
    .newsletter{
    width:50%
    }
    
    
    .images{
       img{
    
           width: 50%;
            height: 50%;
    }  
        
           
    }
    body{
        // background-image: url(img/dragon-scales.svg);
        &::before{
            display:block;
            content:"";
            height:20px;
        }
    }

   
    
}
@media  (max-width:768px) {
    

    .fundementals{
        width: 50%;
    }
    



}

.column{
    &:hover{
        transform: scale(1.05);
        transition: 1.2s ;
        cursor: pointer;
    }
}

body{
    // background-image: url(img/dragon-scales.svg);
    &::before{
        display:block;
        content:"";
        height:85px;
    }
}

#map{
    width: 40vh;
    height: 40vh;
    border-radius: 10px;
    margin: 0 auto;
}

.showcase{
    background-color: rgb(139, 137, 137);
}

  .collapsible{
        
        .collapsible__content{
            max-height: 0;
        overflow: hidden;
        transition: max-height 0.6s;
            
        }
        .collapsible--expanded .collapsible__content{   
            max-height: 100vh;

         
        }

    }

    .navBar{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 5rem;
        padding-top: 5rem;
        img{
            width: 40px;
            height: 40px;
        }
        h1{
            font-size: 3rem;
        }
        
    ul{
        list-style: none;
        li{
            display: inline;
            padding: 0.8rem;
            font-size: 2rem;
          
            a{
    
                opacity: 0.7;
                &:hover{
    
                     transition: 0.3s ease-in;
                     transform: scale(1.2);
                    opacity: 1;
                }
    
            }
        }
        
    }
    }